body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.85em;
    background-color: #090300;
    color: #9d9a9a;
}

code, pre {
    background-color: black !important;
    box-shadow: none;
}

a {
    color: #1ba1e1;
}

a:visited {
    color: #a06b93;
}

header {
    background-color: transparent;
}

footer {
    font-size: 90%;
}

blockquote {
    background: black;
    border-left: 3px solid #9d9a9a;
}

.article-meta {
    background: #090300;
    color: #9d9a9a;
    border: 1px solid #9d9a9a;
    border-radius: 0;
}

.content-wrapper {
    text-align: justify;
}